body {
  margin: 0%;
  padding: 0%;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  flex: 30%;
  background-color: cornflowerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border: 1px solid grey;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;
  font-size: 1em;
}

.header button {
  width: 70px;
  height: 87px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  padding-left: 10px;
  cursor: pointer;
}

.todoList {
  display: flex;
  flex: 70%;
  align-items: center;
  flex-direction: column;
}

.task {
  display: flex;
  width: 400px;
  height: 50px;
  margin: 10px;
  color: white;
}

.task .content {
  display: flex;
  flex: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  border-right: none;
  background-color: tomato;
}

.task button {
  flex: 20%;
  border: none;
  height: 100%;
  background-color: greenyellow;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
